<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Producto Guardado</h1>
        <div>
            <a href="/">Volver al Formulario</a>
        </div>
        <div>
            <a href="/productos">Ir a listado de productos</a>
        </div>
    </div>
    
</body>
</html>